<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Social Tree</title>
    <link rel="stylesheet" href="../STYLE/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="maskGroup">
        <img class="imageCircle" src="../assets/Perfil.jpg" alt="Foto do perfil">
        <a class="instagramLink" href="https://www.instagram.com/daniel_dantas_oficial/">@daniel_dantas_oficial</a>
    </div>
    <div></div>
    <a href="https://www.google.com.br/" class="link1">
        <div class="rectangle1">Google</div>
    </a>
    <a href="https://app.rocketseat.com.br/discover" class="link2">
        <div class="rectangle2">Rocketseat Discover</div>
    </a>
    <a href="https://developer.mozilla.org/en-US/" class="link3">
        <div class="rectangle3">MDN</div>
    </a>
    <a href="https://www.figma.com/file/WEATQYO7aznBSmUdyUE3la/DD-%2F-Social-links-(Copy)" class="link4">
        <div class="rectangle4">Layout no FIGMA</div>
    </a>
    <div class="group1">
        <a href="https://twitter.com/danielvdantas"><img src="../assets/twitter.svg" alt=""></a>
        <a href="https://www.twitch.tv/daniel_dev_dantas"><img src="../assets/twitch.svg" alt=""></a>
        <a href="https://www.instagram.com/daniel_dantas_oficial/"><img src="../assets/instagram.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/daniel-valenca-dantas/"><img src="../assets/linkedin.svg" alt=""></a>
        <a href="https://github.com/danielvdantas"><img src="../assets/github.svg" alt=""></a>
    </div>
</body>

</html>